name: Build and Push Matomo+MariaDB

on:
  push:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # 1. Checkout del repositorio
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2. Login en Docker Hub usando secretos
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # 3. Construir y publicar la imagen
      - name: Build and push Matomo image
        uses: docker/build-push-action@v5
        with:
          context: ./ejercicio-2/docker
          push: true
          tags: ${{ secrets.DOCKERHUB_USER }}/matomo-custom:latest
